In [3]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
from selenium import webdriver
from selenium.webdriver.common.by import By
import time
import re

In [ ]:
# Load the CSV file directly
file_name = 'sponsor_list.csv' 
companies_df = pd.read_csv(file_name)

# Step 1: Define search functions for the CSV file
def is_company_sponsoring(company_name):
    """Check for an exact match in the CSV file."""
    company_name = company_name.lower()
    companies_df['Organisation Name'] = companies_df['Organisation Name'].str.lower()

    if company_name in companies_df['Organisation Name'].values:
        print(f"{company_name.title()} sponsors in the UK.")
        return True
    else:
        print(f"{company_name.title()} does not appear on the sponsoring list.")
        return False

def search_partial_match(company_name):
    """Look for partial matches in the CSV."""
    company_name = company_name.lower()
    matches = companies_df[companies_df['Organisation Name'].str.contains(company_name, na=False)]
    if not matches.empty:
        print("Possible matches found:")
        display(matches)  # Display full rows for matches
        return matches
    else:
        print("No partial matches found.")
        return []

# Step 2: Function to search for keywords on a job description webpage

def fetch_job_page_content(url):
    """Fetch job description page content."""
    try:
        response = requests.get(url, timeout=10)
        response.raise_for_status()
        return response.text
    except Exception as e:
        print(f"Failed to fetch page content: {e}")
        return None

def search_job_description(url):
    """Search job description page for keywords."""
    keywords = ["sponsorship", "right to work", "visa sponsorship", "work permit", "continuous residency", "Data Analytics"]
    page_content = fetch_job_page_content(url)
    
    if not page_content:
        return

    # Parse content with BeautifulSoup
    soup = BeautifulSoup(page_content, 'html.parser')
    page_text = soup.get_text().lower()

    # Find keywords with context
    found_keywords = []
    for keyword in keywords:
        keyword_positions = [match.start() for match in re.finditer(keyword, page_text)]
        for pos in keyword_positions:
            context = page_text[max(0, pos-30):pos+30]  # Provide 30 characters of context around each match
            found_keywords.append((keyword, context.strip()))

    # Output results
    if found_keywords:
        print("Keywords found with context in the job description:")
        for keyword, context in found_keywords:
            print(f"- {keyword} ...{context}...")
    else:
        print("No relevant keywords found in the job description.")

# Step 3: Interactive User Prompt

def search_company():
    """Run a search for a company in the CSV."""
    print("\n--- Company Sponsorship Search ---")
    company_name = input("Enter the company name to check: ")

    # Exact match search
    if not is_company_sponsoring(company_name):
        search_partial_match(company_name)

# Step 4: Main Menu Loop

def main_menu():
    while True:
        print("\nChoose an option:")
        print("1. Search for a company in the CSV list")
        print("2. Check a job description URL for keywords")
        print("3. Stop")

        choice = input("Enter choice (1, 2, or 3): ")
        if choice == '1':
            search_company()
        elif choice == '2':
            job_url = input("Enter the job description URL: ")
            search_job_description(job_url)
        elif choice == '3':
            print("Exiting program.")
            break
        else:
            print("Invalid choice. Please enter 1, 2, or 3.")
            
# Run the main menu
main_menu()

Choose an option:
1. Search for a company in the CSV list
2. Check a job description URL for keywords
3. Stop

Enter choice (1, 2, or 3):  1

--- Company Sponsorship Search ---

Enter the company name to check:  easyjet

Easyjet does not appear on the sponsoring list.
Possible matches found:

,Organisation Name,Town/City,County,Type & Rating,Route
32997,easyjet airline company limited,Luton,Bedfordshire,Worker (A rating),Skilled Worker
32998,easyjet airline company limited,Luton,Bedfordshire,Worker (A rating),Global Business Mobility: Senior or Specialist...

Choose an option:
1. Search for a company in the CSV list
2. Check a job description URL for keywords
3. Stop

Enter choice (1, 2, or 3):  nhs kent

Invalid choice. Please enter 1, 2, or 3.

Choose an option:
1. Search for a company in the CSV list
2. Check a job description URL for keywords
3. Stop

Enter choice (1, 2, or 3):  1

--- Company Sponsorship Search ---

Enter the company name to check:  nhs

Nhs does not appear on the sponsoring list.
Possible matches found:

,Organisation Name,Town/City,County,Type & Rating,Route
4296,airedale nhs foundation trust,Keighley,West Yorkshire,Worker (A rating),Skilled Worker
5031,alder hey childrens nhs foundation trust,Liverpool,Merseyside,Worker (A rating),Skilled Worker
9384,ashford & st peters hospitals nhs trust,Chertsey,Surrey,Worker (A rating),Skilled Worker
10999,avon and wiltshire mental health nhs partnership,Bath,NaN,Worker (A rating),Skilled Worker
12438,barking havering and redbridge university hosp...,Romford,Essex,Worker (A rating),Skilled Worker
...,...,...,...,...,...
120020,worcestershire acute hospitals nhs trust,Worcester,Worcestershire,Worker (A rating),Skilled Worker
120320,wrightington wigan and leigh teaching hospital...,Wigan,Lancs,Worker (A rating),Skilled Worker
120426,wye valley nhs trust,Hereford,Herefordshire,Worker (A rating),Skilled Worker
121141,york & scarborough teaching hospitals nhs foun...,York,North Yorkshire,Worker (A rating),Skilled Worker
121163,yorkshire ambulance service nhs trust,Wakefield,West Yorkshire,Worker (A rating),Skilled Worker

Choose an option:
1. Search for a company in the CSV list
2. Check a job description URL for keywords
3. Stop

Enter choice (1, 2, or 3):  1

--- Company Sponsorship Search ---

Enter the company name to check:  wtw

Wtw does not appear on the sponsoring list.
Possible matches found:

        Organisation Name Town/City County      Type & Rating           Route
120366  wtw films limited    London    NaN  Worker (A rating)  Skilled Worker

Choose an option:
1. Search for a company in the CSV list
2. Check a job description URL for keywords
3. Stop

Enter choice (1, 2, or 3):  1

--- Company Sponsorship Search ---

Enter the company name to check:  whsmith

Whsmith does not appear on the sponsoring list.
Possible matches found:

,Organisation Name,Town/City,County,Type & Rating,Route
119013,whsmith retail holdings ltd,Swindon,NaN,Worker (A rating),Skilled Worker

Choose an option:
1. Search for a company in the CSV list
2. Check a job description URL for keywords
3. Stop

Enter choice (1, 2, or 3):  1

--- Company Sponsorship Search ---

Enter the company name to check:  gatwick

Gatwick does not appear on the sponsoring list.
Possible matches found:

,Organisation Name,Town/City,County,Type & Rating,Route
31557,dr a mykoniatis t/a horley & gatwick dental ce...,HORLEY,SURREY,Worker (A rating),Skilled Worker
41994,gatwick airport limited,GATWICK,WEST SUSSEX,Worker (A rating),Skilled Worker
41995,gatwick audiology ltd,Dorking,Surrey,Worker (A rating),Skilled Worker
41996,gatwick bangladeshi islamic and community asso...,Horley,Surrey,Worker (A rating),Tier 2 Ministers of Religion
41997,gatwick bangladeshi islamic and community asso...,Horley,Surrey,Worker (A rating),Skilled Worker
41998,gatwick bangladeshi islamic and community asso...,Horley,Surrey,Temporary Worker (A rating),Charity Worker
41999,gatwick bangladeshi islamic and community asso...,Horley,Surrey,Temporary Worker (A rating),Religious Worker
42000,gatwick bb (uk) limited t/a acorn lodge gatwick,Horley,NaN,Worker (A rating),Skilled Worker
42001,gatwick castle b&b ltd,Horley,NaN,Worker (A rating),Skilled Worker
42002,gatwick haj and umrah ltd,London,NaN,Worker (A rating),Skilled Worker
42003,gatwick investment limited t/a crowne plaza lo...,Crawley,West Sussex,Worker (A rating),Skilled Worker
55852,jewel cars gatwick limited,Redhill,Surrey,Worker (A rating),Skilled Worker
107693,the gatwick gainsborough lodge ltdt/a gatwick ...,Surrey,NaN,Worker (A rating),Skilled Worker
107694,the gatwick school,Crawley,West Sussex,Worker (A rating),Skilled Worker
107695,the gatwick skylane hotel limited t/a the best...,Horley,Surrey,Worker (A rating),Skilled Worker
107696,the gatwick white house hotel ltd. t/a gatwick...,Horley,NaN,Worker (A rating),Skilled Worker

Choose an option:
1. Search for a company in the CSV list
2. Check a job description URL for keywords
3. Stop

Enter choice (1, 2, or 3):  1

--- Company Sponsorship Search ---

Enter the company name to check:  biffa

Biffa does not appear on the sponsoring list.
No partial matches found.

Choose an option:
1. Search for a company in the CSV list
2. Check a job description URL for keywords
3. Stop

Enter choice (1, 2, or 3):  1

--- Company Sponsorship Search ---

Enter the company name to check:  trnasunion

Trnasunion does not appear on the sponsoring list.
No partial matches found.

Choose an option:
1. Search for a company in the CSV list
2. Check a job description URL for keywords
3. Stop

Enter choice (1, 2, or 3):  1

--- Company Sponsorship Search ---

Enter the company name to check:  transunion

Transunion does not appear on the sponsoring list.
Possible matches found:

,Organisation Name,Town/City,County,Type & Rating,Route
111845,transunion information group limited,Leeds,NaN,Worker (A rating),Skilled Worker
111846,transunion information group limited,Leeds,NaN,Worker (A rating),Global Business Mobility: Senior or Specialist...

Choose an option:
1. Search for a company in the CSV list
2. Check a job description URL for keywords
3. Stop

Enter choice (1, 2, or 3):  1

--- Company Sponsorship Search ---

Enter the company name to check:  IQVIA

Iqvia does not appear on the sponsoring list.
Possible matches found:

,Organisation Name,Town/City,County,Type & Rating,Route
54068,iqvia limited,Reading,Berkshire,Worker (A rating),Skilled Worker
54069,iqvia limited,Reading,Berkshire,Worker (A rating),Global Business Mobility: Senior or Specialist...

Choose an option:
1. Search for a company in the CSV list
2. Check a job description URL for keywords
3. Stop

Enter choice (1, 2, or 3):  1

--- Company Sponsorship Search ---

Enter the company name to check:  royalmail

Royalmail does not appear on the sponsoring list.
No partial matches found.

Choose an option:
1. Search for a company in the CSV list
2. Check a job description URL for keywords
3. Stop

Enter choice (1, 2, or 3):  1

--- Company Sponsorship Search ---

Enter the company name to check:  royal

Royal does not appear on the sponsoring list.
Possible matches found:

,Organisation Name,Town/City,County,Type & Rating,Route
1130,a&s uk private ltd ta royal halal meat,Watford,NaN,Worker (A rating),Skilled Worker
1546,aariz stores limited t/a royal paan and chaat ...,London,NaN,Worker (A rating),Skilled Worker
1837,abdul guljar t/a curry royal,Loughborough,NaN,Worker (A rating),Skilled Worker
2210,academy of medical royal colleges,London,NaN,Temporary Worker (A rating),Government Authorised Exchange
4833,alam and brothers limited t/a the royal spice,Wales,NaN,Worker (A rating),Skilled Worker
...,...,...,...,...,...
109924,theatre royal bath limited,Bath,NaN,Temporary Worker (A rating),Creative Worker
110286,three brothers london ltd t/a the royal bengal,London,NaN,Worker (A rating),Skilled Worker
112346,triunion limited t/a jamaica blue royal berksh...,Reading,NaN,Worker (A rating),Skilled Worker
115002,vale royal fresh foods ltd,Allostock,Cheshire,Worker (A rating),Skilled Worker
121146,york hotel company (sidmouth) limited t/a roya...,Sidmouth,Devon,Worker (A rating),Skilled Worker

Choose an option:
1. Search for a company in the CSV list
2. Check a job description URL for keywords
3. Stop

Enter choice (1, 2, or 3):  1

--- Company Sponsorship Search ---

Enter the company name to check:  mail

Mail does not appear on the sponsoring list.
Possible matches found:

,Organisation Name,Town/City,County,Type & Rating,Route
972,a patel t/a mail boxes etc croydon,London,NaN,Worker (A rating),Skilled Worker
6212,ama postmail limited,KIRKCALDY,FIFE,Worker (A rating),Skilled Worker
18462,business in the city t/a mailboxes etc maida vale,LONDON,NaN,Worker (A rating),Skilled Worker
20041,care by mail limited,London,NaN,Worker (A rating),Skilled Worker
28079,daily mail and general trust plc,London,NaN,Worker (A rating),Skilled Worker
28080,daily mail and general trust plc,London,NaN,Worker (A rating),Global Business Mobility: Senior or Specialist...
29840,"deutsche post global mail (uk) ltd, t/a dhl cr...",Staines-upon-Thames,NaN,Worker (A rating),Global Business Mobility: Senior or Specialist...
29841,"deutsche post global mail (uk) ltd, t/a dhl cr...",Staines-upon-Thames,NaN,Worker (A rating),Skilled Worker
29842,"deutsche post global mail (uk) ltd, t/a dhl cr...",Staines-upon-Thames,NaN,Temporary Worker (A rating),Global Business Mobility: Graduate Trainee
30979,dmail enterprises ltd,Birmingham,NaN,Worker (A rating),Skilled Worker
31595,dr i ismail & partners,Marston Moretaine,Bedford,Worker (A rating),Skilled Worker
34593,emailcenter uk limited,Towcester,NaN,Worker (A rating),Skilled Worker
41506,g3 worldwide mail (uk) limited,Southall,Middlesex,Worker (A rating),Global Business Mobility: Senior or Specialist...
43469,global mail express and solutions ltd,Borehamwood,United Kingdom,Worker (A rating),Skilled Worker
54275,ismail convenience store ltd,Manchester,NaN,Worker (A rating),Skilled Worker
54276,ismail restaurants ltd,wallington,NaN,Worker (A rating),Skilled Worker
64906,lyons business service ltd (ta mail boxes),London,NaN,Worker (A rating),Skilled Worker
65026,m ismail & co. accountants,BLACKBURN,LANCS,Worker (A rating),Skilled Worker
65868,mail boxes etc (uk) limited,Chipping Norton,NaN,Worker (A rating),Skilled Worker
65869,mail construction ltd,LONDON,NaN,Worker (A rating),Skilled Worker
65870,mailchain limited,London,NaN,Worker (A rating),Skilled Worker
65871,mailing technology & sup[port ltd,Romford,Essex,Worker (A rating),Skilled Worker
84905,progressive education consultants uk ltd t/a m...,London,NaN,Worker (A rating),Skilled Worker
91023,royal mail group limited,London,NaN,Worker (A rating),Global Business Mobility: Senior or Specialist...
91024,royal mail group limited,London,NaN,Worker (A rating),Skilled Worker
93086,sandhu mail ltd,Birmingham,West Midlands,Worker (A rating),Skilled Worker
95481,shamail gold ltd,Middlesex,NaN,Worker (A rating),Skilled Worker
99080,soniku limited t/a shumailas london,London,NaN,Worker (A rating),Skilled Worker
99422,"southampton, isle of wight and south of englan...",Southampton,Hampshire,Worker (A rating),Skilled Worker
105159,tatan mail limited,"Brentford, Middlesex",London,Worker (A rating),Skilled Worker
108032,the institute of ismaili studies,London,NaN,Worker (A rating),Skilled Worker
108033,the institute of ismaili studies,London,NaN,Temporary Worker (A rating),Government Authorised Exchange
110875,toast (mail order) limited,Swansea,NaN,Worker (A rating),Skilled Worker
116818,voice mail ltd t/a voicemail,HARROW,NaN,Worker (A rating),Skilled Worker
121002,yesmail interactive london ltd,London,NaN,Worker (A rating),Skilled Worker

Choose an option:
1. Search for a company in the CSV list
2. Check a job description URL for keywords
3. Stop

Enter choice (1, 2, or 3):  1

--- Company Sponsorship Search ---

Enter the company name to check:  bakermckenzie

Bakermckenzie does not appear on the sponsoring list.
No partial matches found.

Choose an option:
1. Search for a company in the CSV list
2. Check a job description URL for keywords
3. Stop

Enter choice (1, 2, or 3):  1

--- Company Sponsorship Search ---

Enter the company name to check:  darktrace

Darktrace does not appear on the sponsoring list.
Possible matches found:

,Organisation Name,Town/City,County,Type & Rating,Route
28385,darktrace holdings limited,Cambridge,NaN,Worker (A rating),Skilled Worker

Choose an option:
1. Search for a company in the CSV list
2. Check a job description URL for keywords
3. Stop